body {
  background-color: #f1f7ff;
}

#content form {
  /* Aqui você tinha usado calc(50vh, 241px), 
     mas o correto é usar operadores (+, -, *, /). 
     Mantive como comentário para não perder. */
  /* margin-top: calc(50vh, 241px); */
  margin-top: calc(50vh - 241px);
}

#content form button {
  width: 100%;
}
